@model SmartCarRental.Models.Car

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<div class="app-page-title">
    <div class="page-title-wrapper">
        <div class="page-title-heading">
            <div class="page-title-icon">
                <i class="pe-7s-car icon-gradient bg-happy-itmeo">
                </i>
            </div>
            <div>
                Offer A Car On Application
                <div class="page-title-subheading">

                </div>
            </div>
        </div>
        <div class="page-title-actions">

            <div class="d-inline-block">
                <p>
                    <a asp-action="Index" class="btn btn-primary">Back to List</a>
                </p>
            </div>
        </div>
    </div>
</div>
<div class="row clearfix">
    <div class="col-lg-6" style="margin: 6px auto;">

        <div class="card">
            <div class="body">
                <form asp-action="Create" id="reg_form" class="form-horizontal">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div style="margin-top:25px" class="form-group">
                        <div class="col-md-12">
                            <label asp-for="Name" class="control-label"></label>
                            <input asp-for="Name" class="form-control" />
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-12">
                            <label asp-for="Model" class="control-label"></label>
                            <input asp-for="Model" class="form-control" />
                            <span asp-validation-for="Model" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <label asp-for="FirstLocation" class="control-label"></label>
                            <input asp-for="FirstLocation" class="form-control" />
                            <span asp-validation-for="FirstLocation" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <label asp-for="SecondLocation" class="control-label"></label>
                            <input asp-for="SecondLocation" class="form-control" />
                            <span asp-validation-for="SecondLocation" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <label asp-for="Description" class="control-label"></label>
                            <input asp-for="Description" class="form-control" />
                            <span asp-validation-for="Description" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <label asp-for="AvailableFrom" class="control-label"></label>
                            <input asp-for="AvailableFrom" class="form-control" />
                            <span asp-validation-for="AvailableFrom" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <label for="UserId" asp-for="UserId" class="control-label"></label>
                            <input id="UserId" type="text" value="@ViewBag.CurrentUser.UserName" readonly asp-for="UserId" class="form-control" />
                            <span asp-validation-for="UserId" class="text-danger"></span>
                        </div>
                    </div>
                    @*<div class="form-group">
                        <div class="col-md-12">
                            <label asp-for="DepartmentId" class="control-label"></label>
                            <select asp-for="DepartmentId" class="form-control" asp-items="ViewBag.DepartmentId">
                                <option value="0">-- Please Select It's Department --</option>
                            </select>
                        </div>
                    </div>*@
                    <div class="form-group">
                        <div class="col-md-12">
                            <input type="submit" value="Create" class="btn btn-primary" />
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
