@model SmartCarRental.Models.Car

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<div class="app-page-title">
    <div class="page-title-wrapper">
        <div class="page-title-heading">
            <div class="page-title-icon">
                <i class="pe-7s-car icon-gradient bg-happy-itmeo">
                </i>
            </div>
            <div>
                Offer A Car On Application
                <div class="page-title-subheading">

                </div>
            </div>
        </div>
        <div class="page-title-actions">

            <div class="d-inline-block">
                <p>
                    <a asp-action="Index" class="btn btn-primary">Back to List</a>
                </p>
            </div>
        </div>
    </div>
</div>
<div class="row clearfix">
    <div class="col-lg-6" style="margin: 6px auto;">

        <div class="card">
            <div class="body">
                <form asp-action="Edit" id="reg_form" class="form-horizontal" method="post" enctype="multipart/form-data">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div style="margin-top:25px" class="form-group">
                        <div class="col-md-12">
                            <label asp-for="Name" class="control-label"></label>
                            <input asp-for="Name" class="form-control" />
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-12">
                            <label asp-for="Model" class="control-label"></label>
                            <input asp-for="Model" class="form-control" />
                            <span asp-validation-for="Model" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <label asp-for="FirstLocation" class="control-label"></label>
                            <input asp-for="FirstLocation" class="form-control" />
                            <span asp-validation-for="FirstLocation" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <label asp-for="SecondLocation" class="control-label"></label>
                            <input asp-for="SecondLocation" class="form-control" />
                            <span asp-validation-for="SecondLocation" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <label asp-for="Description" class="control-label"></label>
                            <input asp-for="Description" class="form-control" />
                            <span asp-validation-for="Description" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <label asp-for="AvailableFrom" class="control-label"></label>
                            <input asp-for="AvailableFrom" class="form-control" />
                            <span asp-validation-for="AvailableFrom" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <label asp-for="UserId" class="control-label"></label>
                            <select asp-for="UserId" class="form-control" asp-items="ViewBag.UserId">
                                <option value="0">-- Please Select User --</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2">Image<span style="color: red">*</span></label>
                        <div class="col-md-10">
                            <input type="file" name="file" class="form-control" onchange="onBlogImageChange(this);" />
                            @Html.ValidationMessageFor(model => model.ImgaUrl, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-10">
                            <img id="blogImg" style="width: 180px; height: 123px; object-fit: cover;" src="~/@Model.ImgaUrl" />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <input type="submit" value="Save" class="btn btn-primary" />
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <script type="text/javascript">
        function onBlogImageChange(image) {
            if (image.files && image.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('#blogImg')
                        .attr('src', e.target.result);
                };

                reader.readAsDataURL(image.files[0]);
            }
        }
    </script>
}
